{% extends 'main/layout.html' %}

{% block title %}{{ title  }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Welcome to the site of the dental clinic "Mediline" in Ulyanovsk! In our clinic: Modern individual anesthesia; the latest European equipment; advanced American materials for filling and prosthetics; Highly qualified staff is the main advantage of our dentistry. Hope, you won't be bored</p>
        <img src="static/main/img/mediline.png" height="450" alt="">
    </div>
{% endblock %}